{
  "plugins": [
      "chai-expect"
    ]
  ,
  "env": {
    "mocha":true
  },
  "globals": {
    "expect": false,
    "it": false,
    "describe": false,
    "sinon": false,
    "tick": false
  },
  "rules": {
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1
  }
}
